<h1>New Pond</h1>

<%= form_for([@pond]) do |f| %>
	<p><%= f.label(:street) %><br />
	<%= f.text_field(:street) %></p>
	<p><%= f.label(:city) %><br />
	<%= f.text_field(:city) %></p>
	<p><%= f.label(:state) %><br />
	<%= f.text_field(:state) %></p>
	<p><%= f.label(:latitude) %><br />
	<%= f.text_field(:latitude) %></p>
	<p><%= f.label(:longitude) %><br />
	<%= f.text_field(:longitude) %></p>
	<%= f.hidden_field :user_id, :value => current_user.id %>

	<p><%= submit_tag("Add Pond") %></p>
<% end %>