<div class="row pond">
	<div class="large-12 columns">
		<h1><%= @pond.street %></h1>

		<p>
			<%= @pond.lat %>
			<%= @pond.long %>
		</p>

		<p>
			<%= @forecast.currently.summary %>
			<%= @forecast.currently.icon %>
			<%= @forecast.currently.temperature.round %>
		</p>

		<p>
			<%= @stupid %>
		</p>

	</div>
</div>

<!-- <%= render "shared/photos" %> -->

<%= render "comments/show" %>

<%= render "comments/new" %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
	handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @pond.lat %>,
      "lng": <%= @pond.long %>,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>