<div class="row pond">
	<div class="large-12 columns">
		<h1><%= @pond.street %></h1>

		<p>
			<%= @pond.latitude %>
			<%= @pond.longitude %>
		</p>

		<p>
			<%= @forecast.currently.summary %>
			<%= @forecast.currently.icon %>
			<%= @forecast.currently.temperature.round %>
		</p>

		<p>
			<%= @pond_status_message %>
		</p>

	</div>
</div>

<%= render "comments/show" %>

<%= render "comments/new" %>

<div style='width: 970px;'>
  <div id="map" style='width: 970px; height: 400px;'></div>
</div>

<script>
	handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @pond.latitude %>,
      "lng": <%= @pond.longitude %>,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": "Pond"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<div>
	<h4>Nearby Ponds</h4>
	<% for pond in @pond.nearbys(10) %>
		<ul>
			<li><%= link_to pond.street, pond %> <%= pond.distance.round(2) %> miles</li>
		</ul>
	<% end %>
</div>