<div class="row pond">
	<div class="large-12 columns">
		<h1><%= @pond.street %></h1>

		<p>
		<%= @pond.lat %>
		<%= @pond.long %>
		</p>

		<p>
		<%= @forecast.currently.summary %>
		<%= @forecast.currently.icon %>
		<%= @forecast.currently.temperature.round %>
		</p>

		<p>
			<%= @stupid %>
		</p>

	</div>
</div>

<%= render "shared/photos" %>

<%= render "shared/comments" %>